<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
     
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Ubicaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
