.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.blue{
  --background: #044ab3 !important;
}

.text-center{
  text-align: center;
}
.ml-20{
  margin-right: 20px;
}
.p-b-20{
  padding-bottom: 20px;
}
ion-item{
  --border-radius: 4px !important;
}
ion-input{
  height: 53px !important;
}
.mt-40{
  margin-top: 40px;
}
.pt{
  margin-top: 25%;
}
.icon-delete{
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: darkgrey !important;
}
p{
  color: #ffffff;
}